# Identifiant
LOGIN="Utilisateur"

# Mot de passe
PASSWORD="Mot_de_passe"

# Taille du cache des tuiles raster locales
TILE_CACHE_MAX_MB=150

# Liste des cartes à masquer
HIDE_MAPS=tiles_online.js,tiles_local.txt